<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Stemming API</title>
    <meta name="author" content="Mariusz Kielan">
	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
<p>Semming API</p>
<p>Project is part of a thesis by Mariusz Kielan. API uses the Polish project <a href="http://morfologik.blogspot.com">Morfologik</a>.</p>
</body>
</html>
